.ClearButton {
  padding: 1.3em 3em;
  margin: 1em;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #df0712;
  border: none;
  border-radius: 45px;
  
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.ClearButton:hover {
  background-color: #df0712;
  box-shadow: 0px 15px 20px rgba(129, 8, 8, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.ClearButton:active {
  transform: translateY(-1px);
}

.CheckoutButton {
  padding: 1.3em 3em;
  margin: 1em;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #07df16;
  border: none;
  border-radius: 45px;
  
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.CheckoutButton:hover {
  background-color: #07df16;
  box-shadow: 0px 15px 20px rgba(5, 168, 10, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.CheckoutButton:active {
  transform: translateY(-1px);
}
