body {
    background-image: url(https://i.postimg.cc/Xqy3qZ86/Pizza-Background-1024x683.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}  
